<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
        }
    </style>
</head>
<body>
    {% include 'header.html'   %}
    <div class="box">
        <form method="post" style="background-color: white; margin: auto; margin-top: 100px; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 300px; text-align: left;">
            {% csrf_token %}
        <label for="employee_name" style="font-size: 14px; color: #333; margin-bottom: 8px; display: block;">Employee Name</label>
        <input type="text" name="emp_name" placeholder="Enter employee name" style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
        
        <label for="employee_email" style="font-size: 14px; color: #333; margin-bottom: 8px; display: block;">Employee Email</label>
        <input type="email" name="emp_email" placeholder="Enter employee email" style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
        
        <label for="employee_course" style="font-size: 14px; color: #333; margin-bottom: 8px; display: block;">Employee Course</label>
        <input type="text" name="emp_course" placeholder="Enter employee course" style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
        
        <button type="submit" style="width: 100%; padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 16px;">Submit</button>
    </form>

</div>
    
    
</body>
</html>